<main>
  <div class="main_content_container">
    <div class="main_title_container">
      <h1>{{listTitle}}</h1>
      <hr>
    </div>
    <div class="studio_table_container">
      <table class="studio_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Founded</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let studio of studios">
            <td>{{studio.id}}</td>
            <td>{{studio.name}}</td>
            <td>{{studio.description}}</td>
            <td>{{studio.createdDate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
