<main>
  <div class="main_content_container">
    <div class="main_title_container">
      <h1>{{listTitle}}</h1>
      <hr>
    </div>
    <div class="studio_table_container">
      <table class="studio_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Founded</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Warner Bros</td>
            <td>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec
            </td>
            <td>1932</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
